body,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

div {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover,
a:link,
a:visited,
a:active {
	text-decoration: none;
}

ol,
ul {
	list-style: none;
}

input,
textarea {
	outline: none;
	border: none;
	resize: none;
}

::-webkit-scrollbar {
	width: 0;
}

/* Button 解决图标与文本对齐问题 */
.ant-btn {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Tag 解决图标与文本对齐问题 */
.ant-tag {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Modal 组件统一增加透明过滤效果 */
.ant-modal-content {
	backdrop-filter: blur(5px);
	background: #232324b3 !important;
}

/* codemirror 移除背景颜色 */
.ͼ16 {
	background: none;
}
